body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;      
        -webkit-font-smoothing: antialiased;
}
.header {
        background: #4b73b5;
        height: 76px;
        margin-bottom: 45px;
    
}
.sidebar {
    width: 180px;
}
.desc:hover {
    color: white;
  }

.container {
        display: flex;
        justify-content: space-between;    
        align-items: center;
        height: 100%;
        margin: 0 auto;
        padding-left: 20px;
    }
.contacts {
        text-align: right;
         line-height: 25px;
    padding-right: 20px; 
}
.contacts__phone {
    font-weight: 700;
    font-size: 21px;
    text-decoration: none;
     color: #fff;
}
.desc {
    color: #ffffff;
    opacity: 0.7;
    font-size: 14px;
     font-weight: 700;
}

.logo-samolet {
    display: flex;
    justify-content: center;
    margin-top: -204px; 
   align-items: center;
}

.menu__list {
    list-style-type: none;
}

.menu__link {
    font-size: 12px;
    text-transform: uppercase; 
    font-weight: 700;
    letter-spacing: 2px;
}

.menu__link:hover, .menu__link--active {
     color: #221f1f;
}

.menu__link--main:hover:before, .menu__link--active.menu__link--main:before {
    background-image: url(main_icon23.png);
}

.menu__link:before { 
    content: "";
    width: 24px;
    height: 18px;
    background-position: center center;
    background: url(main_icon23.png) center center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    margin-bottom: 2px;
}



.comment__link:before { 
    content: "";
    width: 24px;
    height: 18px;
    background-position: center center;
    background: url(feed_icon.png) center center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    margin-bottom: 2px;
}
.comment__link {
    font-size: 12px;
    text-transform: uppercase; 
    font-weight: 700;
    letter-spacing: 2px;
}


.comment__link--main:hover:before, .comment__link--active.comment__link--main:before {
    background-image: url(feed_icon.png);
}

.comment__link:before { 
    content: "";
    width: 24px;
    height: 18px;
    background-position: center center;
    background: url(feed_icon.png) center center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    margin-bottom: 2px;
}
.crew__link {
    font-size: 12px;
    text-transform: uppercase; 
    font-weight: 700;
    letter-spacing: 2px;
}


.crew__link--main:hover:before, .crew__link--active.crew__link--main:before {
    background-image: url(team_icon.png);
}

.crew__link:before { 
    content: "";
    width: 24px;
    height: 18px;
    background-position: center center;
    background: url(team_icon.png) center center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    margin-bottom: 2px;
}

.menu__item, .comment__item, .crew__item {
    padding-bottom: 30px; 
}
.course {
    display: flex;
    justify-content: flex-start;
    padding-left: 170px;
}

.tarifs {
    display: flex;
    justify-content: center;
    width: 755px;
    padding-left: 170px;
}

.premium {
    width: 250px;
    border:  1px solid #e8e9ed;
    height: 456px;
    box-sizing: border-box;
    text-align: center ;
}
.premium__rate__servicec {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
}
.servic::before {
    content: "•";
    font-size: 18px;
    margin-right: 20px;
}
.standart {
    width: 250px;
    text-align: center;
}
.standart__rate__services  {
    display: flex;             
    justify-content: flex-start ;
    margin-bottom: 15px;
}
.standart__rate__services::before {
    content: "•";
    font-size: 18px;
    margin-right: 20px;

}
.luxury {
    width: 250px;
    
    box-sizing: border-box;
    text-align: center;
}
.luxury__rate__servicec {
    display: flex;             
    justify-content: flex-start ;
    margin-bottom: 15px;
}
.luxury__rate__servicec::before {
    content: "•";
    font-size: 18px;
    margin-right: 20px;
}

.news, .standart__rate, .premium__rate, .luxury__rate {
    list-style: none;
}
.news {
    display: flex;
    flex-direction: column;
    padding-left: 170px;
    padding-right: 25px;
    width: 880px;
}

h1 {
    padding-left: 170px;
}
.time, .text, h3 {
padding-left: 197px;
position: relative;
bottom: 160px;
}
.time {
    color: #8e8d8d;
}
.text {
    font-size: 18px;
    width: 800px;
}

    
    .pagination__display {
        color: #656464;
        font-weight: 300;
    }
    

    
    .pagination__item {
        width: 24px;
        height: 24px;
        border-radius: 5px;
    }
    
    .pagination__item-link {
        color: #000;
        text-decoration: none;
        font-weight: bold;
        width: 100%;
        height: 100%;
        line-height: 24px;
    }
    
    .pagination__next, .pagination__item a, .pagination__prev {
        text-decoration: none;
    }
    
    
    
    
    .pagination__item-link_active {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background: #4b73b5;
        color: #fff;
    }
    
    .pagination__item-link:hover {
        background: #4b73b5;
        color: #fff;
    }
    
    .pagination__pages {
        color: #221f1f;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        list-style: none;
        padding: 0px;
        margin: 0;
    }
    
    .pagination__list {
        color: #000;
        margin-left: 20px;
    }

    .pagination {
        display: flex;
        justify-content: center;
        text-align: center;
        color: #020202;
        margin-bottom: 60px;
    }

.pagination__display {
    color: #656464;
    font-size: 14px;
    line-height: 32px;
    margin-left: 10px;
}


.pagination__item {
    display: inline-block;
    height: 24px;
    width: 24px;
}

.pagination__item-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    height: 100%;
}


.pagination__item, .pagination__next   {
    text-decoration: none;
}



.pagination__item-link_active {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #4b73b5;
    color: white;
}

.pagination__item-link:hover {
    background: #4b73b5;
    border-radius: 5px;
    color: white;
}

.pagination__pages {
    display: inline-block;
    color: #221f1f;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    list-style: none;
    padding: 0px;
    margin: 0 10px;
    
}

.pagination__list {
    color: #000;
    margin-left: 20px;
}
.pagination__prev {
    color: #e6e6e6;
}
.pagination__next {
color:#221f1f;
}
footer {
    display: flex;
    justify-content: space-between;
    background: #4b73b5;
    align-items: center;
    color:#cfdaeb;
}
.end {
    padding-left: 20px;
    width: 255px;
    font-size: 15px;
}
.social__contact {
    padding-right: 20px;
}
.me, .school-footer, .social__contact {
    color: white;
}
.line {
    line-height: 5px;
}
.old-news {
    line-height: 72px;
}
.maincontent__container {
    width: 880px;
}
.sidebar  {
    width: 180px;
}
hr {
    position: relative;
    bottom: 25px;
}
a {
    text-decoration: none;
}